<!DOCTYPE>
<html>
<head>
	<title>echarts页面</title>
</head>	
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/static/incubator-echarts-2.2.7/build/dist/echarts.js"></script>

<style type="text/css">



</style>

<body>
	<div id="main" style="height:400px"></div>		
</body>
</html>

<script type="text/javascript">

require.config({
	paths:{
		echarts:'/static/incubator-echarts-2.2.7/build/dist'
	},	
});

// 使用
require(
    [
        'echarts',
        'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
    ],
    function (ec) {
        // 基于准备好的dom，初始化echarts图表
        var myChart = ec.init(document.getElementById('main')); 
        
        option = {
		    tooltip : {
		        trigger: 'axis'
		    },
		    legend: {
		        data:['邮件营销','联盟广告','视频广告','直接访问','搜索引擎']
		    },
		    toolbox: {
		        show : true,
		        feature : {
		            mark : {
		            	show: false // 辅助线
		            },
		            dataView : {
		            	show: true, // 数据视图
		            	readOnly: false
		            },
		            magicType : {
		            	show: false, // 表格类型切换
		            	type: [
			            	'line', 
			            	'bar', 
			            	'stack', 
			            	'tiled'
			            ]
		        	},
		            restore : {
		            	show: false // 还原
		            },
		            saveAsImage : {
		            	show: true // 保存图片
		            }
		        }
		    },
		    calculable : true,
		    xAxis : [
		        {
		            type : 'category',
		            boundaryGap : false,
		            data : ['周一','周二','周三','周四','周五','周六','周日']
		        }
		    ],
		    yAxis : [
		        {
		            type : 'value'
		        }
		    ],
		    series : [
		        {
		            name:'邮件营销',
		            type:'line',
		            stack: '总量',
		            data:[120, 132, 101, 134, 90, 230, 210]
		        },
		        {
		            name:'联盟广告',
		            type:'line',
		            stack: '总量',
		            data:[220, 182, 191, 234, 290, 330, 310]
		        },
		        {
		            name:'视频广告',
		            type:'line',
		            stack: '总量',
		            data:[150, 232, 201, 154, 190, 330, 410]
		        },
		        {
		            name:'直接访问',
		            type:'line',
		            stack: '总量',
		            data:[320, 332, 301, 334, 390, 330, 320]
		        },
		        {
		            name:'搜索引擎',
		            type:'line',
		            stack: '总量',
		            data:[820, 932, 901, 934, 1290, 1330, 1320]
		        }
		    ]
		};

		$.ajax({
			type:"POST",
			url:"/index.php/index/echarts/getData",
			data:{},
			dataType:'json',
			success:function(res){
				var data = res.data;

				if (data) {

					var names = [];
					var categorys = [];					

					for (var i = 0; i < data.length; i++) {

						var series = [];
						var curData = data[i].data;

						names.push(data[i].name);
						
						for (var j = 0; j < curData.length; j++) {
							
							if (categorys.length < curData.length) {
								categorys.push(curData[j].date);
							}

							series.push(curData[j].num);
						}

						option.series[i].name = data[i].name;
						option.series[i].data = series;
					}

					option.legend.data = names;
					option.xAxis[0].data = categorys;
				}

				// 为echarts对象加载数据 
        		myChart.setOption(option); 
			}
		})
    }
);



</script>